# PRIVATE_INCOME_STRATEGY
NEXT_PUBLIC_PRIVATE_INCOME_STRATEGY={"investments":{"percentage":0.5,"label":"Invest","color":"rgb(141, 217, 126)"},"costOfLiving":{"percentage":0.4,"label":"Cost of living","color":"rgb(126, 151, 214)"},"consumables":{"percentage":0.1,"label":"Future plans and plesaures","color":"rgb(36, 3, 252)"}}

# PRIVATE_INVESTMENTS_STRATEGY
NEXT_PUBLIC_PRIVATE_INVESTMENTS_STRATEGY={"treasure":{"percentage":0.5,"label":"Treasure","color":"rgb(141, 217, 126)"},"stocks":{"percentage":0.4,"label":"Stocks","color":"rgb(36, 3, 252)"},"bitcoin":{"percentage":0.1,"label":"Bitcoin","color":"rgb(222, 118, 58)"}}